
Data/98.txt
Data/99.txt

Data/
Weights/Series of Weights/Bigger_Model_weights-improvement-99-1.1577.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-98-1.1801.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-97-1.1965.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-96-1.2025.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-95-1.2085.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-93-1.2240.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-91-1.2438.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-89-1.2695.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-88-1.2825.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-86-1.3118.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-85-1.3322.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-84-1.3359.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-83-1.3419.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-82-1.3501.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-81-1.3769.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-80-1.3837.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-79-1.4163.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-78-1.4224.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-77-1.4353.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-76-1.4500.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-75-1.4641.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-74-1.4716.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-73-1.4844.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-72-1.5141.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-71-1.5242.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-70-1.5471.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-69-1.5564.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-68-1.5757.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-67-1.5886.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-66-1.6055.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-65-1.6250.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-64-1.6414.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-63-1.6715.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-62-1.6808.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-61-1.7071.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-60-1.7216.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-59-1.7482.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-58-1.7653.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-57-1.7894.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-56-1.8035.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-55-1.8251.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-54-1.8529.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-53-1.8792.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-52-1.9020.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-51-1.9331.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-50-1.9500.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-49-1.9809.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-48-1.9999.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-47-2.0275.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-46-2.0610.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-45-2.0801.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-44-2.1143.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-43-2.1414.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-42-2.1716.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-41-2.1979.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-40-2.2217.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-39-2.2530.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-38-2.2801.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-37-2.3166.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-36-2.3400.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-35-2.3758.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-34-2.3968.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-33-2.4268.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-32-2.4637.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-31-2.4923.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-30-2.5192.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-29-2.5455.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-28-2.5743.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-27-2.5999.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-26-2.6279.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-25-2.6536.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-24-2.6803.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-23-2.7044.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-22-2.7300.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-21-2.7473.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-20-2.7696.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-19-2.7914.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-18-2.8139.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-17-2.8289.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-16-2.8468.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-15-2.8599.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-14-2.8763.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-136-0.8978.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-135-0.9047.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-134-0.9089.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-133-0.9162.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-132-0.9234.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-130-0.9280.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-13-2.8925.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-128-0.9464.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-127-0.9558.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-126-0.9613.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-124-0.9731.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-123-0.9816.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-122-0.9889.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-121-0.9896.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-120-1.0082.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-12-2.9030.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-01-3.0128.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-01-3.0377.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-01-3.4996.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-02-2.9351.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-02-2.9993.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-02-3.2766.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-03-2.9085.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-03-2.9892.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-03-3.1563.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-04-2.8874.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-04-2.9792.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-04-3.0665.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-05-2.8699.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-05-2.9692.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-05-3.0323.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-06-2.9657.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-07-2.9537.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-08-2.9472.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-09-2.9362.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-10-2.9276.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-101-1.1467.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-103-1.1336.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-104-1.1217.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-106-1.1128.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-107-1.1032.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-108-1.0878.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-109-1.0877.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-11-2.9157.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-110-1.0684.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-112-1.0619.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-113-1.0530.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-114-1.0358.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-115-1.0270.hdf5
Weights/Series of Weights/Bigger_Model_weights-improvement-119-1.0168.hdf5
Dataset/pass_new.txt
Dataset/passwords.txt
.ipynb_checkpoints/model-checkpoint.ipynb




Data/
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages
typings

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.ipynb_checkpoints/model-checkpoint.ipynb
.ipynb_checkpoints/model-checkpoint.ipynb
